<div class="row">
  <div class="col-md-5 mx-auto my-5">
    <img class="rounded" style="width:100% !important;" src="https://www.dermatologie-chamonix.com/images/btn-illustration-inscription.gif">

  </div>
  <div class="col-md-5 mx-auto my-5">
    <mdb-card>
      <mdb-card-body>
        <!-- Material form register -->
        <form [formGroup]="cardForm" >
          <p class="h4 text-center py-4" style="color: dodgerblue ;">Create Your Account</p>

          <!-- Material input text -->
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" 
          
            id="materialFormCardNameEx" 
            formControlName="firstname" 
            class="form-control" 
            required
            mdbInputDirective
            name="firstname"
            [formControl]="firstname"
             >
            <label for="materialFormCardNameEx" class="font-weight-light">firstname</label>
          </div>
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" 
            id="materialFormCardNameEx2" 
            formControlName="lastname" 
            class="form-control" 
            mdbInputDirective
            required
            name="lastname"
            [formControl]="lastname" >
            <label for="materialFormCardNameEx" class="font-weight-light">lastname</label>
          </div>
         <!-- <div class="md-form">
            <i class="fa fa-calendar-o prefix grey-text" aria-hidden="true" aria-hidden="true"></i>
            <input type="date" 
            id="materialFormCardConfirmDate" 
            formControlName="materialFormCardConfirmDate" 
            class="form-control" 
            mdbInputDirective
            name="date_naiss"
            [(ngModel)]="user.date_naiss" >
            <label for="materialFormCardConfirmDate" class="font-weight-light">Date</label>
          </div>
        -->
           <div class="md-form">
            <i class="fa fa-address-card-o prefix grey-text"
            aria-hidden="true"></i>
            <input type="text" 
            id="materialFormCardADDEx"
             formControlName="city" 
             class="form-control"
             required 
             mdbInputDirective
             name="city"
             [formControl]="city">
            <label for="materialFormCardADDEx" class="font-weight-light">Your City</label>
          </div> 
          <div class="md-form">
            <i class="fa fa-address-book-o prefix grey-text"
            aria-hidden="true"></i>
            <input type="text" 
            id="materialFormCardADDEx2"
             formControlName="occupation" 
             class="form-control" 
             required
             mdbInputDirective
             name="occupation"
             [formControl]="occupation">
            <label for="materialFormCardADDEx2" class="font-weight-light">Your Occupation</label>
          </div> 
          <!-- Material input email -->
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" 
            id="materialFormCardEmailEx" 
            formControlName="email"
            data-error="wrong email"
            data-success="valid email"
           required
            class="form-control" mdbInputDirective
            name="email"
             
            [formControl]="email" >
            <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
          </div>

          <!-- Material input email 
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="email" id="materialFormCardConfirmEx" formControlName="materialFormCardConfirmEx" class="form-control" mdbInputDirective>
            <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
          </div>
          -->

          <!-- Material input password -->
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" 
            id="materialFormCardPasswordEx" 
            formControlName="password" 
            class="form-control"
              mdbInputDirective
              name="password"
              required
              [formControl]="password" >
            <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
          </div>
          <!-- 
          <div class="md-form">
            <i class="fa fa-exclamation-triangle prefix grey-text"></i>
            <input type="password" id="materialFormCardPasswordEx2" formControlName="materialFormCardPasswordEx" class="form-control"
              mdbInputDirective>
            <label for="materialFormCardPasswordEx" class="font-weight-light">Confirm Your password</label>
          </div>
        -->
        
        </form>

        <div class="text-center py-4 mt-3">
          <button mdbBtn color="danger" 
          class="waves-light" 
          type="button" 
          mdbWavesEffect
          (click)="register()">Register</button>
        </div>
        <!-- Material form register -->
      </mdb-card-body>
    </mdb-card>
  </div>

</div>

<app-footer></app-footer>
