<div class="card  ">
 <img [src]="avatar" alt="currentUser" style="width:100%">
  <h1><strong class="text-primary">{{currentUser.firstname}}</strong> <span><i class="text-info">{{currentUser.lastname}}</i></span></h1>
  <div style="align-content: left">
    <p>
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>" INTRO </p>
    <p>
      <i class="fa fa-address-book-o" aria-hidden="true"> </i>" {{currentUser.occupation}}
    </p>
    <p>
      <i class="fa fa-home mr-3"></i>{{currentUser.city}} </p>
  </div>
  <p>


    <i class="fas fa-mobile-android"> </i>
    for any contact :
  </p>
  <a href="#">
    <span class="fa fa-dribbble"></span>
  </a>
  <a href="Siwar-Gh">
    <span class="fa fa-twitter"></span>
  </a>
  <a href="siwar ghammam">
    <span class="fa fa-linkedin"></span>
  </a>
  <a href="https://www.facebook.com/photo.php?fbid=925245307560626&set=a.374506759301153.90082.100002254966363&type=3">
    <span class="fa fa-facebook"></span>
  </a>

</div>
