<app-nevbar></app-nevbar>
<div class="row">


  <div class="col-md-3 mx-auto my-3" id="a">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4D03AQEQE3fmduW7RQ/profile-displayphoto-shrink_200_200/0?e=1538611200&v=beta&t=rVtkmmkmaQcAYKM9U7Ghd-eWATM4_-_jEhQ-NekHT7c"
        alt="John" style="width:100%">
      <h1>Siwar Ghammam </h1>
      <p class="title">futur engineer </p>
      <div style="align-content: left">
        <p>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>" INTRO </p>
        <p>
          <i class="fa fa-address-book-o" aria-hidden="true"> </i>" étudié a Enicarthage
        </p>
        <p>
          <i class="fa fa-home mr-3"></i> habite a Mahdia </p>
      </div>
      <p>


        <i class="fas fa-mobile-android"> </i>
        for any contact :
      </p>
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="Siwar-Gh">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="siwar ghammam">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/photo.php?fbid=925245307560626&set=a.374506759301153.90082.100002254966363&type=3">
        <i class="fa fa-facebook"></i>
      </a>

    </div>
  </div>


</div>

<app-footer></app-footer>
