<app-navbar></app-navbar>

<div class="row">


  <div class="col-md-3 mx-auto my-3" id="a">
    <div class="card">
      <img src="https://media.licdn.com/dms/image/C4D03AQEQE3fmduW7RQ/profile-displayphoto-shrink_200_200/0?e=1538611200&v=beta&t=rVtkmmkmaQcAYKM9U7Ghd-eWATM4_-_jEhQ-NekHT7c"
        alt="John" style="width:100%">
      <h1>Siwar Ghammam </h1>
      <p class="title">futur engineer </p>
      <div style="align-content: left">
        <p>
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>" INTRO </p>
        <p>
          <i class="fa fa-address-book-o" aria-hidden="true"> </i>" étudié a Enicarthage
        </p>
        <p>
          <i class="fa fa-home mr-3"></i> habite a Mahdia </p>
      </div>
      <p>


        <i class="fas fa-mobile-android"> </i>
        for any contact :
      </p>
      <a href="#">
        <i class="fa fa-dribbble"></i>
      </a>
      <a href="Siwar-Gh">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="siwar ghammam">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/photo.php?fbid=925245307560626&set=a.374506759301153.90082.100002254966363&type=3">
        <i class="fa fa-facebook"></i>
      </a>

    </div>
  </div>
  
  <div class="col-md-9 mx-auto my-9 w3-white">
    <p >Friend Request</p>
    <div class="row" >

      
      <div class="col-md-8 mx-auto my-8" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
        <div class="w3-container">

          <img src="https://mdbootstrap.com/img/Photos/Avatars/img(7).jpg"
            class="w3-circle" alt="Avatar" style="width:60px" style="height:60px">
          <span>Anwar Ghammam</span>
          <div class="w2-row w2-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept">
                <i class="fa fa-check"></i>
              </button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline">
                <i class="fa fa-remove"></i>
              </button>
            </div>

          </div>
        </div>
        <hr>
        <div class="w3-container">

            <img src="https://mdbootstrap.com/img/Photos/Avatars/img(28).jpg"
              class="w3-circle" alt="Avatar" style="width:60px" style="height:60px">
            <span>Alex</span>
            <div class="w2-row w2-opacity">
              <div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="Accept">
                  <i class="fa fa-check"></i>
                </button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline">
                  <i class="fa fa-remove"></i>
                </button>
              </div>
  
            </div>
          </div>
          <hr>
         
          
      </div>


      <div class="col-md-4 mx-auto my-4 w3-white"></div>



    </div>

  </div>
</div>
<div class="row">


    <div class="col-md-3 mx-auto my-3" id="a"></div>
    <br>
      
    <div class="col-md-9 mx-auto my-9 w3-white">
      <p >Connaissez-vous...</p>
      <div class="row" >
  
        
        <div class="col-md-9 mx-auto my-9" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)">
          <div class="w3-container">
  
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img(7).jpg"
              class="w3-circle" alt="Avatar" style="width:60px" style="height:60px">
            <span>Anwar Ghammam</span>
            <div class="w2-row w2-opacity">
              <div class="w3-half">
                <button class="w3-button w3-block w3-green w3-section" title="Accept">
                  <i class="fa fa-user-circle-o">Ajouter</i>
                </button>
              </div>
              <div class="w3-half">
                <button class="w3-button w3-block w3-red w3-section" title="Decline">
                  <i class="fa fa-remove">Supprimer</i>
                </button>
              </div>
  
            </div>
          </div>
          <hr>
          <div class="w3-container">
  
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img(28).jpg"
                class="w3-circle" alt="Avatar" style="width:60px" style="height:60px">
              <span>Alex</span>
              <div class="w2-row w2-opacity">
                <div class="w3-half">
                  <button class="w3-button w3-block w3-green w3-section" title="Accept">
                    <i class="fa fa-user-circle-o">Ajouter</i>
                  </button>
                </div>
                <div class="w3-half">
                  <button class="w3-button w3-block w3-red w3-section" title="Decline">
                    <i class="fa fa-remove">Supprimer</i>
                  </button>
                </div>
    
              </div>
            </div>
            <hr>
           
            
        </div>
  
  
        <div class="col-md-3 mx-auto my-3 w3-white"></div>
  
  
  
      </div>
  
    </div>
   
  </div>
 
<app-footer></app-footer>
