<!--Footer-->
<footer class="page-footer light-blue accent-4 center-on-small-only">
    <!--Footer Links-->
 <div class="container-fluid">
     <div class="row">
         <!--First column-->
         <div class="col-lg-3 col-md-6 ml-auto">
             <h5 class="title mb-3">Footer Content</h5>
             <p>Here you can use rows and columns here to organize your footer content.</p>
         </div>
         <!--/.First column-->

             <hr class="w-100 clearfix d-sm-none">

         <!--Second column-->
         <div class="col-lg-2 col-md-6 ml-auto">
             <h5 class="title mb-3">Links</h5>
             <ul>
                 <li><a href="#!">Link 1</a></li>
                 <li><a href="#!">Link 2</a></li>
                 <li><a href="#!">Link 3</a></li>
                 <li><a href="#!">Link 4</a></li>
             </ul>
         </div>
         <!--/.Second column-->

         <hr class="hidden-md-up">

         <!--Third column-->
         <div class="col-lg-2 col-md-6 ml-auto">
             <h5 class="title mb-3">Links</h5>
             <ul>
                 <li><a href="#!">Link 1</a></li>
                 <li><a href="#!">Link 2</a></li>
                 <li><a href="#!">Link 3</a></li>
                 <li><a href="#!">Link 4</a></li>
             </ul>
         </div>
         <!--/.Third column-->

         <hr class="hidden-md-up">

         <!--Fourth column-->
         <div class="col-lg-2 col-md-6 ml-auto">
             <h5 class="title mb-3">Links</h5>
             <ul>
                 <li><a href="#!">Link 1</a></li>
                 <li><a href="#!">Link 2</a></li>
                 <li><a href="#!">Link 3</a></li>
                 <li><a href="#!">Link 4</a></li>
             </ul>
         </div>
         <!--/.Fourth column-->
     </div>
 </div>
 <!--/.Footer Links-->

 <!--Copyright-->
 <div class="footer-copyright" style="text-align: center">
     <div class="container-fluid">
        Created with  <svg class="heart" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
              c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
          </svg> by siwar .© 2018 all rights reserved
      
           

     </div>
 </div>
 <!--/.Copyright-->

</footer>
<!--/.Footer-->