<div class="row">
  <div class="col-md-3 mx-auto my-3" id="a">
    <img src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.0-9/19875095_1435362636548888_629692791307449451_n.jpg?_nc_cat=0&oh=658aecab2333f084b8b8152169966f5b&oe=5BC6C9CB" width="90px" height="90px">
    <h1 style="text-align:left">Siwar Ghammam</h1>
  </div>
  <div class="col-md-2 mx-auto my-2" id="b">
    <div class="chip chip-md indigo lighten-3  white-text">
      <img src="https://scontent.fnbe1-1.fna.fbcdn.net/v/t1.0-9/16649521_1320119031406583_4586094546183756440_n.jpg?_nc_cat=0&oh=d7e34717f5eb89ec9db9632285d871be&oe=5BCF165E"
        alt="Contact Person"> Siwar Ghammam
    </div>
    <div class="chip chip-md blue lighten-4">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(7).jpg" alt="Contact Person"> Caroline Smith
    </div>
    <div class="chip chip-md cyan darken-2 white-text">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(28).jpg" alt="Contact Person"> Martha Lores
    </div>
    <div class="chip chip-lg success-color white-text">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img(21).jpg" alt="Contact Person">The Sylvester
    </div>
  </div>


</div>
