.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
.chip.chip-md {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.chip.chip-md img {
    height: 53px;
    width: 52px;
    border-radius: 26px;
}
.chip.chip-md .close {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.chip.chip-lg img {
    height: 52px;
    width: 52px;
    border-radius: 26px;
}
.chip.chip-lg .close {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}
.siw{
    height: 52px;
    width: 52px;
}
#a{
   position: right;
    margin-left: 0%;
    padding-left: 0%;

}
#b{
    position: left;
    margin-right: 0%;
    padding-right: 0%;

}
