<div class="button-container">
  <label class="upload-button is-pulled-left">
    <input type="file" class="hidden" name="avatar" ngFileSelect [options]="options" [events]="inputUploadEvents"
      (onUpload)="handleUpload($event)"
      (onPreviewData)="handlePreviewData($event)" 
      (beforeUpload)="beforeUpload($event)">
    Browse
  </label>
</div>

<p>
  Allowed extensions: <code><b>.jpg</b>, ,<b>.jpeg</b> </code>
</p>

<div>
  <button type="button" class="start-upload-button" (click)="startUpload()">Start Upload</button>
</div>

<!-- <div *ngIf="response">
  <pre><code>{{ response | json }}</code></pre>
</div> -->

<div *ngIf="errorMessage">
  <code>{{ errorMessage }}</code>
</div>

<div *ngIf="previewData && !response">
  <img [src]="previewData">
</div>
